@charset "UTF-8";
/* CSS Document */
@media (min-width : 1000px ){
footer{
	display: none;
}
.mobile{
	display: none;
}
body{
	background-image: url(Blu.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	height: 100vh;
	font-family:  'Montserrat', sans-serif;
	overflow: auto;
}
#sfondo{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	opacity: 0.3;
	background-color: black;
}
main{
	height: 100%;
	position: relative;
	margin-top: 0%;
}
#content{
	display: block;
	margin: auto;
	height: 200px;
	position: absolute;
	top: 50%;
	margin-top: -150px;
	width: 100%;
}
#subcontent{
	position: relative;
	margin: auto;
	display: block;
	width: 750px;
}
#logo{
	margin-left: 0;
	float: left;

}
#testo{
	margin-left: 5%;
	margin-top: 20px;
	width: 300px;
	float: left;
	color: white;
	padding: 7px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px black;
	font-size: 18px;
}
#tasti{
	float: left;
	margin-left: 5%;
	margin-top: 15px;
	width: 128px;
	margin-right: 0;
	margin-bottom: 50px;
}
#tasti button{
	background-color: rgba(0,0,0,0.00);
    color: white;
    border: 2px solid white;
	border-radius: 4px;
	padding: 14px 15px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	font-size: 14px;
	cursor: pointer;
	width: 128px;
}
#tasti button:hover {
    background-color: white;
    color: rgba(103,121,141,1.00);
}
#tastolavori{
	margin-top: 15px;
}
.social{
	float: left;
	margin-top: 15px;
	width: 52px;
	cursor: pointer;
}
#socialfb{
	float: right;
	margin-right: 2px;
	width: 50px;
	margin-top: 17px;
}

#contactform{
	clear: both;
	width: 60%;
	padding: 20px 20% 10px;
	display: none;
	opacity: 0;
}
table{
	width: 100%;
}
input[type=text]{
	width: 100%;
    padding: 12px 20px;
    margin: 0 0 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #004B85;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	transition: background-color 0.4s;
	font-size: 18px;
}
input[type=submit]:hover {
    background-color: #0065B3;
}
textarea{
	width: 100%;
    padding: 12px 20px 0;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	resize: vertical;
	max-height: 200px;
	min-height: 50px;
}


#works{
	clear: both;
	width: 730px;
	background-color: rgba(93,113,135,0.70);
	height: 280px;
	padding: 0 0 0 3.5%;
	padding-top: 10px;
	color: white;
	display: none;
}
#works p{
	width: 100%;
	text-align: center;
	font-size: 30px;
	margin-left: -2%;
}
.work{
	width: 29%;
	height: 150px;
	float: left;
	margin-right: 3.5%;
	background-size: cover;
	opacity: 0.8;
	border: 1px solid white;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.work:hover{
	opacity: 1;
}
.work img{
	width: 70px;
	opacity: 1!important;
	border-radius: 10px;
	margin: 95px 0 0 160px;
	box-shadow: 1px 1px 2px  black;
}
#LA{
	margin-top: 100px;
}
#footerdx{
	position: absolute;
	color: white;
	right: 5px;
	bottom: 0;
}
#footersx{
	position: absolute;
	color: white;
	left: 5px;
	bottom: 0;
}
#topmenu{
	position: absolute;
	color: white;
	right: 5px;
	top: 5px;
	cursor: pointer;
	text-align: right;
}
}


@media (max-width : 1000px ) and (min-width : 700px ){
footer{
	display: none;
}
.mobile{
	display: none;
}
body{
	background-image: url(Blu.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	height: 100vh;
	font-family:  'Montserrat', sans-serif;
	overflow: auto;
}
#sfondo{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	opacity: 0.3;
	background-color: black;
}
main{
	height: 100%;
	position: relative;
	margin-top: 0%;
}
#content{
	display: block;
	margin: auto;
	height: 200px;
	position: absolute;
	top: 50%;
	margin-top: -150px;
	width: 100%;
}
#subcontent{
	position: relative;
	margin: auto;
	display: block;
	width: 650px;
}
#logo{
	margin-left: 0;
	float: left;
	width: 150px;
	height: 150px;

}
#testo{
	margin-left: 2.5%;
	margin-top: 10px;
	width: 300px;
	float: left;
	color: white;
	padding: 7px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px black;
	font-size: 16px;
}
#tasti{
	float: left;
	margin-left: 2.5%;
	margin-top: 12px;
	width: 128px;
	margin-right: 0;
	margin-bottom: 50px;
}
#tasti button{
	background-color: rgba(0,0,0,0.00);
    color: white;
    border: 2px solid white;
	border-radius: 4px;
	padding: 10px 15px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	font-size: 12px;
	cursor: pointer;
	width: 120px;
}
#tasti button:hover {
    background-color: white;
    color: rgba(103,121,141,1.00);
}
#tastolavori{
	margin-top: 10px;
}
.social{
	float: left;
	margin-top: 10px;
	width: 45px;
	cursor: pointer;
}
#socialfb{
	float: right;
	margin-right: 10px;
	width: 43px;
	margin-top: 11px;
}

#contactform{
	clear: both;
	width: 50%;
	padding: 0px 25% 10px;
	display: none;
	opacity: 0;
}
table{
	width: 100%;
}
input[type=text]{
	width: 100%;
    padding: 12px 20px;
    margin: 0 0 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #004B85;
    color: white;
    padding: 12px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	transition: background-color 0.4s;
	font-size: 18px;
}
input[type=submit]:hover {
    background-color: #0065B3;
}
textarea{
	width: 100%;
    padding: 12px 20px 0;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	resize: vertical;
	max-height: 150px;
	min-height: 40px;
}
#works{
	clear: both;
	width: 650px;
	background-color: rgba(93,113,135,0.70);
	height: 230px;
	padding: 0 0 0 3.5%;
	padding-top: 10px;
	color: white;
	display: none;
}
#works p{
	width: 100%;
	text-align: center;
	font-size: 26px;
	margin-left: -2%;
}
.work{
	width: 29%;
	height: 120px;
	float: left;
	margin-right: 3.5%;
	background-size: cover;
	opacity: 0.8;
	border: 1px solid white;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.work:hover{
	opacity: 1;
}
.work img{
	width: 55px;
	opacity: 1!important;
	border-radius: 10px;
	margin: 77px 0 0 150px;
	box-shadow: 1px 1px 2px  black;
}
#LA{
	margin-top: 82px;
}
#footerdx{
	position: absolute;
	color: white;
	right: 5px;
	bottom: 0;
}
#footersx{
	position: absolute;
	color: white;
	left: 5px;
	bottom: 0;
}
#topmenu{
	position: absolute;
	color: white;
	right: 5px;
	top: 5px;
	cursor: pointer;
	text-align: right;
}
}



@media (max-width : 699px ) and (min-width : 350px ){
body{
	
	margin: 0;
	height: 500px;
	font-family:  'Montserrat', sans-serif;
	overflow: scroll;
}
#sfondo{
	display: none;
	top: 0;
	width: 100%;
	height: 500px;
	opacity: 0.3;
	background-color: black;
}
main{
	height: 250px;
	margin-top: 0;
	position: relative;
	background-image: url(Blu.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 5%;
}
#content{
	display: block;
	height: 200px;
	width: 100%;
	background-color: rgba(0,0,0,0.30);
	margin-top: 0px;
	padding-top: 50px;
}
#subcontent{
	position: relative;
	margin: auto;
	display: block;
	width: 100%;
}
#logo{
	margin-left: 5%;
	float: left;
	width: 80px;
	height: 80px;
	margin-top: 35px;
}
#testo{
	margin-left: 2.5%;
	margin-top: 3%;
	width: 50%;
	
	float: left;
	color: white;
	padding: 7px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px black;
	font-size: 13px;
}
#tasti{
	float: right;
	margin-right: 2.5%;
	margin-top: 12px;
	width: 45px;
	margin-bottom: 81px;
}
#tasti button{
	display: none;
	background-color: rgba(0,0,0,0.00);
    color: white;
    border: 2px solid white;
	border-radius: 4px;
	padding: 10px 15px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	font-size: 12px;
	cursor: pointer;
	width: auto;
}
#tasti button:hover {
    background-color: white;
    color: rgba(103,121,141,1.00);
}
#tastolavori{
	margin-top: 10px;
}
.social{
	margin-top: 30px;
	width: 30px;
	cursor: pointer;
}
#socialfb{
	margin-right: 10px;
	width: 29px;
	margin-top: 8px;
}

#contactform{
	clear: both;
	width: 80%;
	padding: 30px 10% 20px;
	display: block;
	opacity: 1;
	background-color: rgba(46,67,91,1.00);
}
table{
	width: 100%;
}
input[type=text]{
	width: 100%;
    padding: 12px 20px;
    margin: 0 0 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #004B85;
    color: white;
    padding: 12px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	transition: background-color 0.4s;
	font-size: 18px;
}
input[type=submit]:hover {
    background-color: #0065B3;
}
textarea{
	width: 100%;
    padding: 12px 20px 0;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	resize: none;

}
#works{
	clear: both;
	width: 97%;
	background-color: rgba(93,113,135,0.70);
	height: 290px;
	padding: 0 0 20px 3%;
	padding-top: 10px;
	color: white;
	display: block;
	margin-top: 0px;
}
#works p{
	width: 98%;
	text-align: center;
	font-size: 26px;
	margin-left: -2%;
}
.work{
	width: 29%;
	height: 120px;
	float: left;
	margin-right: 3.5%;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	border: 1px solid white;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.work:hover{
	opacity: 1;
}
.work img{
	display: block;
	width: 55px;
	opacity: 1!important;
	border-radius: 10px;
	margin: 77px auto 0 auto;
	box-shadow: 1px 1px 2px  black;
}
#mobilework{
	font-size: 13px!important;
	width: 80%!important;
	display: block;
	margin: -10px auto 20px auto!important;
}
#mobilecontacttitle {
	color: white !important;
	text-align: center;
	font-size: 26px;
	padding-top: 0;
	margin-top: 15px;
}
#mobilecontact{
	color: white;
	text-align: center;
	font-size: 13px;
}
#LA{
	margin-top: 82px;
}
#footerdx{
	position: absolute;
	color: white;
	right: 5px;
	bottom: 0;
}
#footersx{
	position: absolute;
	color: white;
	left: 5px;
	bottom: 0;
}
footer{
	width: 98%;
	background-color: rgba(127,147,169,1.00);
	padding: 1%;
	text-align: center;
}
#topmenu{
	position: absolute;
	font-size: 13px;
	color: white;
	right: 5px;
	top: 5px;
	cursor: pointer;
	text-align: right;
}

}


@media (max-width : 349px ){
body{
	
	margin: 0;
	height: 500px;
	font-family:  'Montserrat', sans-serif;
	overflow: scroll;
}
#sfondo{
	display: none;
	top: 0;
	width: 100%;
	height: 500px;
	opacity: 0.3;
	background-color: black;
}
main{
	height: 250px;
	margin-top: 0;
	position: relative;
	background-image: url(Blu.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 5%;
}
#content{
	display: block;
	height: 200px;
	width: 100%;
	background-color: rgba(0,0,0,0.30);
	margin-top: 0px;
	padding-top: 50px;
}
#subcontent{
	position: relative;
	margin: auto;
	display: block;
	width: 100%;
}
#logo{
	margin-left: 3%;
	float: left;
	width: 60px;
	height: 60px;
	margin-top: 50px;
}
#testo{
	margin-left: 1.5%;
	margin-top: -4%;
	width: 50%;
	
	float: left;
	color: white;
	padding: 7px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px black;
	font-size: 13px;
}
#tasti{
	float: right;
	margin-right: 1.5%;
	margin-top: 12px;
	width: 45px;
	margin-bottom: 81px;
}
#tasti button{
	display: none;
	background-color: rgba(0,0,0,0.00);
    color: white;
    border: 2px solid white;
	border-radius: 4px;
	padding: 10px 15px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	font-size: 12px;
	cursor: pointer;
	width: auto;
}
#tasti button:hover {
    background-color: white;
    color: rgba(103,121,141,1.00);
}
#tastolavori{
	margin-top: 10px;
}
.social{
	margin-top: 30px;
	width: 30px;
	cursor: pointer;
}
#socialfb{
	margin-right: 10px;
	width: 29px;
	margin-top: 8px;
}

#contactform{
	clear: both;
	width: 80%;
	padding: 30px 10% 20px;
	display: block;
	opacity: 1;
	background-color: rgba(46,67,91,1.00);
}
table{
	width: 100%;
}
input[type=text]{
	width: 100%;
    padding: 12px 20px;
    margin: 0 0 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #004B85;
    color: white;
    padding: 12px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	transition: background-color 0.4s;
	font-size: 18px;
}
input[type=submit]:hover {
    background-color: #0065B3;
}
textarea{
	width: 100%;
    padding: 12px 20px 0;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	resize: none;

}
#works{
	clear: both;
	width: 97%;
	background-color: rgba(93,113,135,0.70);
	height: 320px;
	padding: 0 0 20px 3%;
	padding-top: 10px;
	color: white;
	display: block;
	margin-top: 0px;
}
#works p{
	width: 98%;
	text-align: center;
	font-size: 26px;
	margin-left: -2%;
}
.work{
	width: 29%;
	height: 120px;
	float: left;
	margin-right: 3.5%;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	border: 1px solid white;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.work:hover{
	opacity: 1;
}
.work img{
	display: block;
	width: 55px;
	opacity: 1!important;
	border-radius: 10px;
	margin: 77px auto 0 auto;
	box-shadow: 1px 1px 2px  black;
}
#mobilework{
	font-size: 13px!important;
	width: 80%!important;
	display: block;
	margin: -10px auto 20px auto!important;
}
#mobilecontacttitle {
	color: white !important;
	text-align: center;
	font-size: 26px;
	padding-top: 0;
	margin-top: 15px;
}
#mobilecontact{
	color: white;
	text-align: center;
	font-size: 13px;
}
#LA{
	margin-top: 82px;
}
#footerdx{
	position: absolute;
	color: white;
	right: 5px;
	bottom: 0;
}
#footersx{
	position: absolute;
	color: white;
	left: 5px;
	bottom: 0;
}
footer{
	width: 98%;
	background-color: rgba(127,147,169,1.00);
	padding: 1%;
	text-align: center;
}
#topmenu{
	position: absolute;
	font-size: 13px;
	color: white;
	right: 5px;
	top: 5px;
	cursor: pointer;
	text-align: right;
}
}
